Django==5.0.14
psycopg2-binary>=2.9
python-decouple>=3.8
dj-database-url>=2.1
requests>=2.31
Pillow>=10.0
django-cloudinary-storage>=0.3.0
cloudinary>=1.36
whitenoise>=6.6
gunicorn>=21.2
djangorestframework>=3.15,<3.16
